<!--
  ~ This file is part of EMCOO TEAM PROJECT.
  ~
  ~  (c) EMCOO TEAM
  ~  (c) DevMark <mark@emcoo.com>
  ~
  ~  For the full copyright and license information, please view http://emcoo.com/
  ~
  ~
  -->

<section class="content-header">
    <h1>
        <span ng-if="formCtrl.customer.id !== ''">{{ 'customer.edit_customer' | translate }}</span>
        <span ng-if="formCtrl.customer.id === ''">{{ 'customer.add_a_customer' | translate }}</span>
        <small>{{ formCtrl.customer.title }}</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <form name="formCtrl.customerForm">

        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">

                    <button type="submit"
                            ng-disabled="formCtrl.customerForm.$invalid || formCtrl.deleteLoading || formCtrl.saveLoading"
                            ng-click="formCtrl.save()"
                            class="btn btn-primary">
                        <span ng-if="formCtrl.saveLoading"><i class="fa fa-spin fa-spinner"></i></span>
                        <span ng-if="!formCtrl.saveLoading"><i class="fa fa-save"></i> {{
                            'button.save' | translate }}</span>
                    </button>

                    <button type="button" class="btn btn-default" ng-click="$location.path('customers')"><i
                            class="fa fa-reply"></i> {{ 'button.go_back' |
                        translate }}
                    </button>

                    <button type="submit" ng-click="formCtrl.saveAndExit()"
                            ng-disabled="formCtrl.customerForm.$invalid || formCtrl.deleteLoading || formCtrl.saveLoading"
                            class="btn btn-primary">
                        <span ng-if="formCtrl.saveLoading"><i class="fa fa-spin fa-spinner"></i></span>
                        <span ng-if="!formCtrl.saveLoading"><i class="fa fa-save"></i> {{
                            'button.save_exit' | translate }}</span>
                    </button>
                    <button ng-if="formCtrl.customer.id !== ''" type="button"
                            ng-disabled="formCtrl.deleteLoading || formCtrl.saveLoading"
                            ng-click="formCtrl.delete()" class="btn btn-danger">
                        <span ng-if="formCtrl.deleteLoading"><i class="fa fa-spin fa-spinner"></i></span>
                        <span ng-if="!formCtrl.deleteLoading"><i class="fa fa-save"></i> {{
                            'button.delete' | translate }}</span>
                    </button>

                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <br/>

        <div class="row">
            <div class="col-md-8">

                <div class="box box-solid">
                    <div class="box-body">

                        <div class="row">
                            <div class="col-sm-6">
                                <label for="lastname" class="control-label">{{ 'customer.lastname' | translate }}</label>

                                <div class="form-group">
                                    <input id="lastname" type="text" class="form-control"
                                           placeholder="{{ 'customer.lastname' | translate }}"
                                           required=""
                                           ng-model="formCtrl.customer.lastname">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="firstname" class="control-label">{{ 'customer.firstname' | translate }}</label>

                                <div class="form-group">
                                    <input id="firstname" type="text" class="form-control"
                                           placeholder="{{ 'customer.firstname' | translate }}"
                                           required=""
                                           ng-model="formCtrl.customer.firstname">
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="email" class="control-label">{{ 'customer.email' | translate }}</label>
                            <input id="email" type="email" class="form-control"
                                   placeholder="{{ 'customer.email' | translate }}"
                                   required=""
                                   ng-model="formCtrl.customer.email">
                        </div>

                        <div class="form-group">
                            <label for="password" class="control-label">{{ 'customer.password' | translate }}</label>
                            <input id="password" type="password" class="form-control"
                                   placeholder="{{ 'customer.password' | translate }}"
                                   ng-minlength="formCtrl.customer.id === '' ? 8 : 0" ng-required="formCtrl.customer.id === ''"
                                   ng-model="formCtrl.customer.password">
                        </div>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                    <!-- /.overlay -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
            <div class="col-md-4">

                <div class="box box-solid">
                    <div class="box-body">

                        <div class="form-group">

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="formCtrl.customer.active"> {{ 'global.status' |
                                    translate }}
                                </label>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label"
                                   for="created_at">{{ 'global.created_at' | translate }}</label>

                            <div id="created_at" class="input-group">
                                {{ formCtrl.customer.created_at | amCalendar}}
                            </div>

                        </div>


                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </form>
    <!-- /form -->

</section>
